$main-font: "Montserrat", sans-serif;
$sec-font: "Fira Sans", sans-serif;

header {
  h1 {
    color: white;
    font-family: $main-font;
    font-weight: 300;
  }
}

button{

    .open {
        background-color: black;
    }
}

.off-canvas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}
